<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    	<title>Converter</title>
	</head>
	<body>
		<header>
			<p><a href="home.html">Home</a></p>
			<p><a href="EulerToQuaternion.html">Converter</a></p>
			<p><a href="help.html">Help</a></p>
			<h1>Euler and Quaternion Conversions</h1>
		</header>
		<main>
			<div>
				<h2>Euler Angle</h2>
				<p>x <input type="number"> y <input type="number"> z <input type="number"></p>
				<h2>Rotation Type</h2>
				<p><input type="radio" name="rotation" checked>xyz<input type="radio" name="rotation">yzx<input type="radio" name="rotation">zxy</p>
				<p><input type="radio" name="rotation">xzy<input type="radio" name="rotation">zyx<input type="radio" name="rotation">yxz</p>
				<p><input type="radio" name="rotation">zxz<input type="radio" name="rotation">xyx<input type="radio" name="rotation">yzy</p>
				<p><input type="radio" name="rotation">zyz<input type="radio" name="rotation">xzx<input type="radio" name="rotation">yxy</p>

			</div>

		</main>

	</body>

</html>