<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/CSS/pagestyles.css" rel="stylesheet"/>
    <title>Help</title>
</head>
<body>
<header>
    <table>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/converter">Converter</a></li>
            <li><a href="/help">Help</a></li>

        </ul>
    </table>
    <hr>
    <h1>Help</h1>
</header>
<main>
    <p>This is the help section for Euler to Quaternion angles.</p>
</main>
</body>
</html>
