<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="../static/pagestyles.css" rel="stylesheet"/>
	<link rel="icon" type="image/x-icon" href="../static/favicon.ico">
	<title>Help</title>

	<!-- MathJax script for rendering LaTeX math representation-->
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
</head>
<body>
	<header>
		<div class="taskbar">
			<a href="/">Home</a>
			<a href="/converter">Converter</a>
			<a class="active" href="/help">Help</a>
		</div>
	</header>
	<main>
		<div class="row">
			<div class="onecolumn">
				<div class="sectionholder">
					<h1 align="center">Euler Angles and Gimbal Lock</h1>
				</div>
			</div>

			<div class="onecolumn">
				<div class="holder">
					<p>Coming Soon...</p>
				</div>
			</div>
		</div>
	</main>
</body>
</html>