<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="../static/pagestyles.css" rel="stylesheet"/>
	<link rel="icon" type="image/x-icon" href="../static/favicon.ico">
	<title>Help</title>
</head>
<body>
	<header>
		<div class="taskbar">
			<a href="/">Home</a>
			<a href="/converter">Converter</a>
			<a class="active" href="/help">Help</a>
		</div>
	</header>
	<main>
		<div class="row">
			<div class="onecolumn">
				<div class="sectionholder">
					<h1 align="center">Help</h1>
				</div>
			</div>

			<div class="onecolumn">
				<div class="holder">
					<h2>Welcome to our Help Section!</h2>
					<p>Here you will find a variety of in-depth tutorials for the conversion of Euler and Quaternion angles. Click any of the links below to be redirected to a help page on that topic!</p>
                    <p><a href="/help/quaternions" style="color: #8AB4F8">Quaternions</a> </p>
					<p><a href="/help/3drotation" style="color: #8AB4F8">3D Rotation</a></p>
					<p><a href="/help/eulertomatrix" style="color: #8AB4F8">Euler Angle to Rotation Matrices</a></p>
					<p><a href="/help/matrixtoquaternion" style="color: #8AB4F8">Rotation Matrices to Quaternions</a></p>
					<p><a href="/help/helpeulertoquaternion" style="color: #8AB4F8">Euler Angles to a Quaternion</a></p>
					<p><a href="/help/helpquaterniontoeuler" style="color: #8AB4F8">Quaternion to Euler Angles (coming soon)</a></p>
					<p><a href="/help/eulergimbal" style="color: #8AB4F8">Euler Angles and Gimbal Lock (coming soon)</a></p>
				</div>
			</div>

			<div class="onecolumn">
				<div class="holder">
					<h2>References and Additional Resources</h2>
					<p><a target="_blank" href="https://psx.arthus.net/gamedev/quaternion-tutorial-2-0-1.pdf" style="color: #8AB4F8"><i>A Tutorial on Euler Angles and Quaternions</i></a></p>
					<p><a target="_blank" href="https://ntrs.nasa.gov/citations/19770019231" style="color: #8AB4F8"><i>Euler angles, quaternions, and transformation matrices for space shuttle analysis</i></a></p>
					<p><a target="_blank" href="https://www.youtube.com/watch?v=zc8b2Jo7mno" style="color: #8AB4F8">"Quaternions and 3d rotation, explained interactively"</a></p>
					<p><a target="_blank" href="https://www.youtube.com/watch?v=d4EgbgTm0Bg" style="color: #8AB4F8">"Visualizing quaternions(4d numbers) with stereographic projection"</a></p>
				</div>
			</div>
		</div>
	</main>
</body>
</html>