.column {
	float: left;
	width: 46%;
	padding-left: 2%;
	padding-right: 2%;
}


.taskbar {
	overflow: hidden;
	background-color: #FFF;
	margin-bottom: 20px;
}

.taskbar a {
	float: left;
	color: #000;
	text-align: center;
	padding: 10px 12px;
	text-decoration: none;
	font-size: 15px;
}

.taskbar a.active {
	background-color: #0F74E0;
	color: white;
}

.taskbar a:hover {
  background-color: #0F74E0;
  color: white;
}

.onecolumn {
	width: 96%;
	padding-left: 2%;
	padding-right: 2%;
}

body {
	background-color: #0F74E0;
	margin: 0px;
}

.numin {
	width: 70px;
}

/* perhaps go by a px basis */

.sectionholder {
	padding: 1px 5px 5px 10px;
	background-color: #FFFFFF;
	border: 2px solid #073261;
	border-radius: 10px;
	margin-bottom: 10px;
}

.holder {
	padding: 1px 5px 20px 10px;
	background-color: #FFFFFF;
	border: 2px solid #073261;
	border-radius: 10px;
	margin-bottom: 10px;

}

td {
	padding-left: 15px;
	padding-right: 15px;
}

.matrix {
	width: 35px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
